# Data Structure

## Tuple

In [1]:
tup = tuple()
tup = (4,5,6)
tup

(4, 5, 6)

In [2]:
nested_tup = (4,5,6), (1,2)
nested_tup

((4, 5, 6), (1, 2))

In [16]:
#tuple cannot be modified, but the element in side tuple can be changed
#tup_1 = tuple(['foo', [1,2]])
tup_1 = ('foo'), ([1,2])
print(tup_1)
tup_1[1].append(56)
print(tup_1)

('foo', [1, 2])
('foo', [1, 2, 56])

In [17]:
#tuple math operation
tup_1 + nested_tup

('foo', [1, 2, 56], (4, 5, 6), (1, 2))

In [18]:
tup_1 * 2

('foo', [1, 2, 56], 'foo', [1, 2, 56])

In [21]:
seq = [(1,2,3), (4,5,6), (7,8,9)]
for a,b,c in seq:
    print(a)
    print(b)
    print(c)
    print('next iteration')

1
2
3
next iteration
4
5
6
next iteration
7
8
9
next iteration

In [30]:
value = 1,2,3,4,5
a,b,*rest = value
#*rest or *variable name will lump everything else together in to a list
rest

[3, 4, 5]

In [31]:
a = 1,2,2,5,9
a.count(2)

2

In [32]:
len(a)

5

## List

In [41]:
print(a)
print(type(a))
l = list(a)
print(l)

(1, 2, 2, 5, 9)
<class 'tuple'>
[1, 2, 2, 5, 9]

In [44]:
l

[1, 2, 2, 5, 9]

In [45]:
l.insert(3,'foo')
l

[1, 2, 2, 'foo', 5, 9]

In [47]:
l.pop(len(l)-1)
l

[1, 2, 2, 'foo', 5]

In [48]:
l.remove(2)
#remove only remove 2 once
l

[1, 2, 'foo', 5]

In [51]:
'foo' in l

True

In [53]:
print(l)
for a,b in enumerate(l):
    print(a,b)
    print('Next iteration')

[1, 2, 'foo', 5]
0 1
Next iteration
1 2
Next iteration
2 foo
Next iteration
3 5
Next iteration

In [56]:
seq1 = ['foo', 'bar']
seq2 = [5, 100]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 5), ('bar', 100)]

## Dict

In [57]:
d1 =dict()
d1 = {'a': 3, 'b':[1,2]}
d1

{'a': 3, 'b': [1, 2]}

In [58]:
d1['a']

3

In [59]:
d1['c'] = (7,9,10)
d1

{'a': 3, 'b': [1, 2], 'c': (7, 9, 10)}

In [60]:
'c' in d1

True

In [61]:
'c' in d1.keys()

True

In [62]:
d1.pop('c')
d1

{'a': 3, 'b': [1, 2]}

In [63]:
d1.keys()

dict_keys(['a', 'b'])

In [65]:
list(d1.values())

[3, [1, 2]]

## Set

In [66]:
a = {1,2,3}
b = {4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [74]:
a = {1,2,3,4}
a&b #equivlant to a.intersection(b)

{4}

In [77]:
a.update(b)

In [78]:
a

{1, 2, 3, 4, 5, 6}

## Comprehensions

In [79]:
#[expr for val in collection if condition]
string = ['a', 'as', 'bat', 'car','drove', 'python' ]
result = [x.upper() for x in string if len(x) <=2 ]
result

['A', 'AS']

In [81]:
#dictionary comprehension
d = {val:index for index,val in enumerate(string)}
d

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'drove': 4, 'python': 5}

In [83]:
#nested loop
all_data = [['john', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
name_with_2_e = [name for names in all_data for name in names if name.count('e')>=2]
name_with_2_e

['Steven']