In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key1': list('aabba'), 'key2': ['one', 'two', 'one', 'two', 'one'], 'data1': np.random.randn(5), 'data2': np.random.randn(5)})
df

      data1     data2 key1 key2
0 -0.196397  0.139632    a  one
1  0.092507  1.395374    a  two
2  1.015372 -0.866561    b  one
3  0.716758 -1.064245    b  two
4 -1.187544 -1.326538    a  one

In [4]:
df.describe()

          data1     data2
count  5.000000  5.000000
mean   0.088139 -0.344468
std    0.860708  1.119880
min   -1.187544 -1.326538
25%   -0.196397 -1.064245
50%    0.092507 -0.866561
75%    0.716758  0.139632
max    1.015372  1.395374

In [6]:
grouped = df['data1'].groupby(df['key1'])
grouped.mean()

key1
a   -0.430478
b    0.866065
Name: data1, dtype: float64

In [8]:
grouped2 = df['data1'].groupby([df['key1'], df['key2']])
grouped2.mean()

key1  key2
a     one    -0.691971
      two     0.092507
b     one     1.015372
      two     0.716758
Name: data1, dtype: float64

In [9]:
for name,group in df.groupby(df['key1']):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0 -0.196397  0.139632    a  one
1  0.092507  1.395374    a  two
4 -1.187544 -1.326538    a  one
b
      data1     data2 key1 key2
2  1.015372 -0.866561    b  one
3  0.716758 -1.064245    b  two

In [10]:
for name,group in df.groupby('key1'):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0 -0.196397  0.139632    a  one
1  0.092507  1.395374    a  two
4 -1.187544 -1.326538    a  one
b
      data1     data2 key1 key2
2  1.015372 -0.866561    b  one
3  0.716758 -1.064245    b  two

In [12]:
for (n1,n2),group in df.groupby(['key1', 'key2']):
    print((n1,n2))
    print(group)

('a', 'one')
      data1     data2 key1 key2
0 -0.196397  0.139632    a  one
4 -1.187544 -1.326538    a  one
('a', 'two')
      data1     data2 key1 key2
1  0.092507  1.395374    a  two
('b', 'one')
      data1     data2 key1 key2
2  1.015372 -0.866561    b  one
('b', 'two')
      data1     data2 key1 key2
3  0.716758 -1.064245    b  two

In [13]:
list(df.groupby('key1'))

[('a',       data1     data2 key1 key2
  0 -0.196397  0.139632    a  one
  1  0.092507  1.395374    a  two
  4 -1.187544 -1.326538    a  one), ('b',       data1     data2 key1 key2
  2  1.015372 -0.866561    b  one
  3  0.716758 -1.064245    b  two)]

In [17]:
my_d = dict(list(df.groupby('key1')))
my_d

{'a':       data1     data2 key1 key2
 0 -0.196397  0.139632    a  one
 1  0.092507  1.395374    a  two
 4 -1.187544 -1.326538    a  one, 'b':       data1     data2 key1 key2
 2  1.015372 -0.866561    b  one
 3  0.716758 -1.064245    b  two}

In [18]:
my_d['a']

      data1     data2 key1 key2
0 -0.196397  0.139632    a  one
1  0.092507  1.395374    a  two
4 -1.187544 -1.326538    a  one

In [24]:
df['data1'] #this is panda seris

0   -0.196397
1    0.092507
2    1.015372
3    0.716758
4   -1.187544
Name: data1, dtype: float64

In [25]:
df[['data1']] #this is panda df

      data1
0 -0.196397
1  0.092507
2  1.015372
3  0.716758
4 -1.187544

In [28]:
df[['data1']].sort_values(by='data1')

      data1
4 -1.187544
0 -0.196397
1  0.092507
3  0.716758
2  1.015372